## Домашнее задание 1 ##
### Выполнено Павлом Овчинниковым при обучении на курсе "Основы языка Python для аналитиков" ###
### Преподаватель Станислав Никуличев ###

______________________________________________________________________________
## Задание 1) 
### Оформляйте ноутбук, используя эти советы:
### * Номер задачи - заголовок 2
### * Номер подзадачи - заголовок 3
### * Предоставленные наборы данных оформляйте, как код
______________________________________________________________________________
## Задание 2) 
### На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [4]:
fruit_data = {'banana': 35, 'orange': 54, 'mango': 7, 'apple': 68, 'plums': 1001}

def fruitSumFunc(**kwargs):    
    fruits_number = sum(kwargs.values())    
    return f'Total fruits: {fruits_number}'

print(fruitSumFunc(banana=35, orange=54, mango=7, apple=68, plums=1001))

Total fruits: 1165

______________________________________________________________________________
## Задание 3) 
### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты [100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
array = [100, 125, -90, 345, 655, -1, 0, 200]
corrected_costs_list = [a for a in array if a >= 0]
print(sum(corrected_costs_list))
corrected_costs_list

1425

[100, 125, 345, 655, 0, 200]

______________________________________________________________________________
## Задание 4) 
### Даны два списка.
### Дата покупки 
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
### Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
### 4.1 Найдите, какая выручка у компании в ноябре. Используйте list comprehensions
### 4.2 Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [13]:
import pandas as pd
import datetime
 
def monthly_revenue(dates, amount):
    df = pd.DataFrame()
    df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in date]
    df['Sum'] = money
    df['Month'] = pd.DatetimeIndex(df['Date']).month
    return df.groupby('Month').sum(numeric_only = True)

date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
      '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
      '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
      '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
money = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592,
      2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
 
print(f'Выручка у компании в ноябре - {sum(money[i] for i in range(len(date)) if "-11-" in date[i])}')
monthly_revenue(date, money)

Выручка у компании в ноябре - 25098

         Sum
Month
9      25647
10     28645
11     25098
12     45452